{% extends 'base.html.twig' %}

{% block title %}Events - TFANNEN{% endblock %}

{% block banner_background %}
    data-background="{{ asset('assets/images/login/banner.jpg')}}"
{% endblock %}

{% block banner_title %}
Our Events 
{% endblock %}

{% block banner_subtitle %}
    Fill in the details of our events
{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Lieu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.lieu }}</td>
                <td>
                    <a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">Participate</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    

{% endblock %}
